html{
	background-color: #ff7b00;
	color: #fefefe;
	border: 5px;
	border-style:solid;
	border-color: white;
}

.nav{

  overflow: hidden;
  background-color: white;
  color: #ff7b00;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  style:block;
  border-radius: 5px;
}
h2{
	text-align:center;
}
a:visited{
	color: #ff7b00;
}
a:hover{
	color: black;
}
footer{
	overflow: hidden;
  background-color: white;
  color: #ff7b00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  style:block;
  border-radius: 5px;
	font-style: italic;
}