<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="resources/css/main.css" rel="stylesheet">
<title>Ice Cream Up! - Submit Order</title>
</head>

<body>

<div class="nav">
	<a href="/start">Home</a>
	<a href="/topOrders">Top Orders</a>
	<a href="/orderForm">Submit Order</a>
	<a href="/showOrders">View Orders</a>
</div>
<h1>Welcome to Ice Cream Up!</h1>
<h2>Order Information</h2>

<form action="#" th:action="@{/saveOrder}" th:object="${orderDTO}" method="GET">
	<div>
		<div> 
			<span>Name: </span>
		</div>
		<input type="text" name="orderedBy" th:field="*{orderedBy}">
	</div>
	
	<div>
		<div> 
			<span>Address: </span>
		</div>
		<input type="text" name="address" th:field="*{address}">
	</div>
	
	<div>
		<div> 
			<span>Phone Number: </span>
		</div>
		<input type="tel" name="phoneNumber" th:field="*{phoneNumber}">
	</div>
	
	<div>
		<div> 
			<span>Email: </span>
		</div>
		<input type="email" name="email" th:field="*{email}">
	</div>
	
	<div>
		<div> 
			<span>Comments: </span>
		</div>
		<input type="text" name="comments" th:field="*{comments}">
	</div>
	
	<input type="submit" value="Submit">
</form>

</body>
<footer> IceCreamUp, Inc.</footer>

</body>

</html>