<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="resources/css/main.css" rel="stylesheet">
<title>Ice Cream Up! - Orders</title>
</head>

<body>

<div class="nav">
	<a href="/start">Home</a>
	<a href="/topOrders">Top Orders</a>
	<a href="/orderForm">Submit Order</a>
	<a href="/showOrders">View Orders</a>
</div>
<h1>Welcome to Ice Cream Up!</h1>
<h2>Submitted Orders</h2>

<ul th:each="order : ${allOrders}">
	<li> <div th:text="${order}"></div> </li>
</ul>

</body>
<footer> IceCreamUp, Inc.</footer>

</body>

</html>