<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ice Cream Up!</title>
<style>
html{
	background-color: #fefefe;
	color: orange;
	
}
.nav{
	overflow: hidden;
	background-color: orange;
	color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}
h2{
	text-align:center;
}


</style>
</head>
<body>
<div class="nav">
	<a href="/start">Home</a>
	<a href="/topOrders">Top Orders</a>
</div>
<h1>Welcome to Ice Cream Up!</h1>

</body>
</html>  