<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"><!-- Add Bootstrap CDN for CSS components -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	type="text/javascript"></script><!-- Add Bootstrap CDN for JavaScript components -->
<link rel="stylesheet" type="text/css" href="../myStyle.css" />
<title>Ice Cream Up!</title>
</head>
<body>
<div class="nav">
	<a href="/start">Home</a>
	<a href="/topOrders">Top Orders</a>
</div>
<h1>Welcome to Ice Cream Up!</h1>
<h2>Top Ice Cream Flavors</h2>
<p th:text="${productDTO}"/>
</body>
<footer> IceCreamUp, Inc.</footer>
</html>  