<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ice Cream Up!</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/start.css}" />
</head>
<body>
<div class="nav">
	<a href="/start">Home</a>
	<a href="/topOrders">Top Orders</a>
	<a href="/orderForm">Submit Order</a>
	<a href="/showOrders">View Orders</a>
</div>
<h1>Welcome to Ice Cream Up!</h1>
<h2>Top Ice Cream Flavors</h2>
<p th:text="${productDTO}"/>
<ul th:each="topOrder : ${topOrders}">
	<li> <div th:text="${topOrder}"></div> </li>
</ul>
</body>
<footer> IceCreamUp, Inc.</footer>
</html>  